.card-holder {
  width: 94%;
  max-width: 400px;
  height: 414px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  margin: 10px 0;
  background: #ffffff;
}
.card-holder:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}
.card-holder:hover .icon-cart-holder {
  display: block;
}

.card-image {
  width: 100%;
  height: 370px;
  border: none;
  display: grid;
  place-items: center;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.card-image img {
  width: 100%;
  background-color: transparent;
}
.icon-cart-holder {
  position: relative;
  cursor: pointer;
  display: none;
}

.icon-cart {
  width: 52px;
  position: absolute;
  height: 52px;
  background: #5ece7b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 30px;
  top: -20px;
  z-index: 1;
}
