.mini-cart {
  padding: 13px;
  width: 345px;
  height: 380px;
}
.mini-cart-title {
  font-weight: bold;
  font-size: 16px;
}
.cart-btn {
  cursor: pointer;
  padding: 13px 20px;
  font-weight: bold;
  font-size: 14px;
  width: 85px;
}
.cart-btn-view {
  border: 1px solid gray;
}
.cart-btn-check-out {
  background-color: #5ece7b;
  color: white;
}
.mini-cart-img {
  width: 105px;
  height: 137px;
  overflow: hidden;
}
.item-info-cart {
  display: flex;
  width: 270px;
  padding: 10px 0;
  justify-content: space-between;
}
.mini-cart-gallery {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mini-cart-gallery-btn {
  background: rgba(80, 79, 79, 0.3);
  display: grid;
  padding: 4px 8px;
  border-radius: 50%;
  border: none;
  place-items: center;
  height: max-content;
}
